main{
    background: var(--gris-fondo);
}
.contenedor-agregar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.agregar-formulario{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    margin: auto;
    width: 100%;
}
.agregar-titulo{
    margin-bottom: 1rem;
}
#imgPreview{
    max-width: 50%;
    max-height: 300px;
    margin: auto;
}

#seleccionArchivos{
    color: var(--color-azul);
}
.agregar{
    margin-bottom: 1rem;
    line-height: 3;
}
#categoria, #editCategoria{
    margin-bottom: 1rem;
    padding: 0.7rem 0;   
}


#btn-agragar{
    width: 100%;
}