
section{
    margin-top: 3rem;
}

.galeria-nombre{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.galeria-star, .galeria-consolas, .galeria-diversos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
}

.galeria-descripcion{
    margin-top: 1rem;
    line-height: 1.3;
}
