@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
main{
    padding: 2rem 5rem 0;
}
.botones{
    background: var(--color-azul);
    color: white;
    padding: .6rem;
    border: none;
}

input,select,textarea:focus{
    outline:none;
    box-shadow: 0px 1px 0px #999;
    border: none;
}

.input-padron-error{
    
    border: 2px solid rgba(233, 74, 74, 40%);
    box-shadow: 0px 2px 0px rgba(233, 74, 74, 40%);
}

.galeria-titulo{
    font-family: 'Raleway';
    font-weight: bold;
}

.precio{
    font-family: 'Raleway';
    font-weight: bold;
}

.ver-producto, .galeria-vertodo{
    color: var(--color-azul);
    font-family: 'Raleway';
    font-weight: bold;
}

.nombre{
    font-family: 'Raleway';
}
