.login{
    background: var(--gris-fondo);
    display: block;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.login-contenedor{
    width: 25%;
    margin: auto;
    text-align: center;
}

.login-titulo{
    padding-bottom: 1rem;
}

.login-item{
    line-height: 3.5;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0px;
}